.info {
  display: flex;
  align-items: center;
  color: var(--tweet-font-color-secondary);
  margin-top: 8px;
  padding: 0 var(--tweet-padding-x); /* Align with body */
  font-size: 0.8125rem;
  font-weight: 500;
}

.infoLink {
  height: 24px;
  width: 24px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--tweet-font-color-secondary);
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.infoLink:hover {
  opacity: 1;
}

.infoIcon {
  color: inherit;
  fill: currentColor;
  height: 14px;
  width: 14px;
}