/* Styles for components that need to respect the new padding structure */

/* In-Reply-To */
.root {
  padding: 0 var(--tweet-padding-x);
  margin-top: 12px;
  margin-bottom: 4px;
  color: var(--tweet-font-color-secondary);
  font-size: 0.875rem;
}
.link {
  color: var(--tweet-font-color-secondary);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  color: var(--tweet-font-color);
}