.root {
  margin-top: 12px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.08);
}
:where([data-theme='dark']) .root {
  border: 1px solid rgba(255,255,255,0.08);
}

/* When not quoted, we need side margins */
.rounded {
  margin-left: var(--tweet-padding-x);
  margin-right: var(--tweet-padding-x);
  width: auto;
}